@media (min-width: 768px) and (max-width: 2600px){

.section-keep{
  margin-bottom: 8rem;

}

.section-keep__cont-quick{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
}

.cont-quick__information-computer{
  
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  gap: 2rem;
}

.section-keep__computer-img{
  width: 100%;
  
  overflow: hidden;
  
}
.information-computer__article-inf{
  min-width: 400px;
  padding: 1rem;
}

}
.article-inf__title-computer{
  margin-bottom: .5rem;
}






/// for mobile



@media (min-width: 100px) and (max-width: 768px){

  .section-keep{
    margin-bottom: 6rem;
  
  }
  
  .section-keep__cont-quick{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
  
  .cont-quick__information-computer{
    padding: .5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
    gap: 4rem;
  }
  
  .section-keep__computer-img{
    width: 100%;
    overflow: hidden;
    
  }
  .information-computer__article-inf{
    padding: 1rem;
  }
  
  }